*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #f9f9f9;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.no-padd {
    padding: 0;
}

.heading {
    padding: 30px 0;
    min-height: 120px;
}

.main {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 54px;
}

.column {
    display: table-cell;
    vertical-align: top;
    float: none
}

.column.middle {
    background: #fff;
}

.column.right {
    padding: 30px;
    /* background-color: rgba(235, 248, 249, 0.28) */
}

.loan-step-background {
    background-color: #3663ad;
    height: 100vh;
}

.faq-privacy-background {
    background-color: rgba(235, 248, 249, 0.28);
    height: 100vh;
}

.reason-page-note {
    margin-left: 15%;
    width: 85%;
}

.loan-steps-container {
    margin: 0;
    padding: 30px;
    position: relative;
}

.loan-steps {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 235px
}

.loan-steps li {
    position: relative;
    padding: 0 0 0 45px;
}

.loan-steps .step-number {
    border: 1px solid #9da0a0;
    border-radius: 50%;
    color: #9da0a0;
    height: 35px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 35px;
    background: #f9f9f9;
    z-index: 90;
    top: 0;
    left: 0;
    font-size: 13px;
    font-weight: 400;
}

.menu-items label {
    color: #9eabc1;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
}

.menu-items ul {
    display: block;
    padding-bottom: 15px;
}

.menu-items li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-items li a {
    color: #9eabc1;
    font-size: 13px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    line-height: 18px;
}

.completed .step-number,
.active .step-number {
    border-color: #79cdd5;
    color: #79cdd5;
    background-color: #3663ad;
}

.inactive .step-number {
    border: 1px solid #9eabc1;
    color: #9eabc1;
    background-color: #3663ad;
}

.completed .menu-items label,
.active .menu-items label,
.completed .menu-items label a,
.active .menu-items label a {
    color: #79cdd5 !important;
}

.active .menu-items label {
    font-weight: 600;
}

.completed .menu-items li a,
.active .menu-items li a {
    color: #fff;
}

.menu-items li.disable a {
    color: #9eabc1;
}

.menu-items li.active a {
    font-weight: bold;
}


/* mobile menu progress bar*/

.progress {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #9da0a0
}

.progress li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.progress li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: #f9f9f9;
    border: 1px solid #9da0a0;
    color: #9da0a0;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 13px;
    line-height: 36px;
    margin-bottom: 15px;
    border-radius: 100%;
    position: relative;
    /*z-index: 1000;*/
}

.progress li:after {
    content: '';
    position: absolute;
    display: block;
    /*background: #DFE3E4;*/
    width: 100%;
    /*height: 0.5em;*/
    top: 1.85em;
    left: 52%;
    margin-left: 1.56em;
    /*z-index: -1;*/
    border: 1px dashed #9da0a0;
}

.progress li:last-child:after {
    display: none;
}

.progress li.is-complete {
    color: #79cdd5;
    font-weight: 600;
}

.progress li.is-complete:before {
    color: #79cdd5;
    background: #f9f9f9;
    border: 1px solid #79cdd5;
}

.progress li.is-complete:after {
    background: #79cdd5;
    border: 1px solid #79cdd5;
}

.progress li.is-active {
    color: #79cdd5;
    font-weight: bold;
}

.progress li.is-active:before {
    color: #fff;
    background: #79cdd5;
    border: 1px solid #79cdd5;
}

.progress li.is-active:after {
    /*background: #79cdd5;
    border: 1px solid #79cdd5;
    background: #DFE3E4;*/
    border: 1px dashed #9da0a0;
}


/*.progress li.is-active {
    color: #444;
}

.progress li.is-active:before {
    color: #444;
    background: #f9f9f9;
    border: 1px solid #444;
}*/


/* Needed for IE8 */

.progress-last:after {
    display: none!important;
}


/* progress bar*/

ul.progress-bar {
    height: 96%;
    top: 35px;
    left: 42px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

ul.progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    border-left: 1px dashed #9eabc1;
    width: 1px;
    height: 92%;
}

ul.progress-bar li {
    background: #79cdd5;
    border-radius: 100px;
    width: 8px;
    height: 8px;
    z-index: 1;
    position: relative;
}

ul.progress-bar li.stop~li {
    background: #9da0a0;
}

ul.progress-bar li.stop~li::after {
    height: 0;
}

ul.progress-bar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4px;
    background: #79cdd5;
    width: 1px;
    height: 100vh;
}

ul.progress-bar .last.stop {
    background: #9eabc1;
    position: absolute;
    bottom: 42px;
}

.step0-0 {
    top: 34px
}

.step0-1 {
    top: 63px
}

.step1-0 {
    top: 139px
}

.step1-1 {
    top: 167px
}

.step1-2 {
    top: 195px
}

.step1-3 {
    top: 223px
}

.step1-4 {
    top: 251px
}

.step1-5 {
    top: 296px
}

.step1-6 {
    top: 340px
}

.step2-0 {
    top: 398px
}

.step2-1 {
    top: 425px
}

.step2-2 {
    top: 454px
}

.step2-3 {
    top: 482px
}

.step3-0 {
    top: 559px
}

.step3-1 {
    top: 581px
}

.mobile-nav {
    width: 100%;
    display: none;
}

.welcomeMsg {
    width: 100%;
    height: 100%;
    margin-right: 18px;
    margin-top: 5px;
}


/* Final Offer */

.loan-box {
    box-shadow: 0px 0px 7px 5px #eaeaea;
    border-radius: 7px;
    text-align: left;
    width: 85%;
    vertical-align: top;
    display: inline-block;
    margin-left: 5%;
}

.loan-items {
    display: inline-block;
    vertical-align: top;
    width: 69%;
}

.loan-items li {
    display: inline-block;
    padding: 15px 0px;
    width: 33%;
    text-align: center;
}

.loan-items li h6 {
    /*font-size:9.5px;
    color: #8dd3da;
    margin: 2px auto;*/
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #8dd3da;
    margin: 0px 0px 15px;
}

.loan-items li:last-child h6 {
    margin-bottom: 0px;
}

.loan-items li span {
    color: #2a2a2a;
    font-size: 11px;
    text-align: center;
}

.main-head {
    display: inline-block;
    background: #dceeef;
    border-radius: 7px;
    width: 28%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #6fcad3;
    min-height: 100px;
}

.main-head h6 {
    font-size: 12px;
    margin: 30px 0px 2px;
    text-transform: uppercase;
    color: #6fcad3;
}

.main-head span {
    font-size: 13px;
    padding-bottom: 18px;
    display: block;
    color: #212323;
}

.radio-loan {
    margin-bottom: 30px;
    display: block;
}

.rad-bx {
    display: inline-block;
    margin: 26px 0px 0px;
    vertical-align: top;
}


/* Verification Tabs */

.verification ul {
    margin: 0;
    padding: 0
}

.verification li {
    background: transparent;
    border-color: transparent;
    box-shadow: 0;
    color: #999;
    padding: 10px;
    text-align: left;
    margin: 10px;
}

.verification input[type="radio"] {
    float: left;
    margin: 10px;
    margin-left: 0;
}

.verification li.active {
    background: rgba(44, 198, 199, 0.08) none repeat scroll 0 0;
    border: 1px solid #2cc6c7;
    box-shadow: 0;
    color: #2cc6c7;
    border-radius: 5px;
}


/*tab content*/

.verify-tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.verify-tabs li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    width: 25%;
    padding: 5px
}

.verify-tabs li a {
    color: #c9c9c9;
    display: block;
    padding-top: 28px;
    /*font-size:12px;*/
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: default;
}

.verify-tabs li.tab1 a {
    background: url(../components/Icons/assets/images/tab1.png) no-repeat center top;
    background-size: 20px 20px
}

.verify-tabs li.tab1.active a {
    background: url(../components/Icons/assets/images/tab1h.png) no-repeat center top;
    color: #76cdd6;
    background-size: 20px 20px
}

.verify-tabs li.tab1.completed a {
    background: url(../components/Icons/assets/images/tab1b.png) no-repeat center top;
    background-size: 20px 20px
}

.verify-tabs li.tab1.completed a {
    color: #444;
}

.verify-tabs li.tab3 a {
    background: url(../components/Icons/assets/images/tab2.png) no-repeat center top;
    background-size: 23px 20px
}

.verify-tabs li.tab3.active a {
    background: url(../components/Icons/assets/images/tab2h.png) no-repeat center top;
    color: #76cdd6;
    background-size: 23px 20px
}

.verify-tabs li.tab3.completed a {
    background: url(../components/Icons/assets/images/tab2b.png) no-repeat center top;
    background-size: 23px 20px
}

.verify-tabs li.tab3.completed a {
    color: #444;
}

.verify-tabs li.tab4 a {
    background: url(../components/Icons/assets/images/tab3.png) no-repeat center top;
    background-size: 22px 20px
}

.verify-tabs li.tab4.active a {
    background: url(../components/Icons/assets/images/tab3h.png) no-repeat center top;
    color: #76cdd6;
    background-size: 22px 20px
}

.verify-tabs li.tab4.completed a {
    background: url(../components/Icons/assets/images/tab3b.png) no-repeat center top;
    background-size: 22px 20px
}

.verify-tabs li.tab4.completed a {
    color: #444;
}

.verify-tabs li.tab2 a {
    background: url(../components/Icons/assets/images/tab4.png) no-repeat center top;
    background-size: 14px 20px
}

.verify-tabs li.tab2.active a {
    background: url(../components/Icons/assets/images/tab4h.png) no-repeat center top;
    color: #76cdd6;
    background-size: 14px 20px
}

.verify-tabs li.tab2.completed a {
    background: url(../components/Icons/assets/images/tab4b.png) no-repeat center top;
    background-size: 14px 20px
}

.verify-tabs li.tab2.completed a {
    color: #444;
}

.verify-tabs li.tab1.active {
    border-bottom: 2px solid #76cdd6
}

.verify-tabs li.tab2.active {
    border-bottom: 2px solid #76cdd6
}

.verify-tabs li.tab3.active {
    border-bottom: 2px solid #76cdd6
}

.verify-tabs li.tab4.active {
    border-bottom: 2px solid #76cdd6
}

.verify-tabs li:last-child {
    border-right: 0;
}

.residence-tabs li {
    font-size: 11px;
}

.welcome-msg-desktop {
    width: 100%;
    height: 100%;
    margin-right: 18px;
    margin-top: 5px;
}

.welcome-msg-mobile {
    display: none;
}

.bank-statement {
    width: 85%;
}

.file-upload-block {
    width: 100%;
}

.mob-nav {
    display: none;
}

.main-wrap{padding-top: 54px;}

.review-screen-button {
    width: 88%;
    margin-top: 25px;
}

@media only screen and (max-width:1100px) {
    .residence-tabs li {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .main-head {
        display: inline-block;
        background: #dceeef;
        border-radius: 7px;
        width: 36%;
        text-align: center;
        padding: 13px 0px;
    }
    .main-head h6 {
        font-size: 11px;
    }
    .main-head span {
        font-size: 13px;
        padding-bottom: 22px;
    }
    .loan-items {
        width: 62%;
    }
    .loan-items li h6 {
        font-size: 8px;
        margin-bottom: 0px;
    }
    .loan-items li span {
        font-size: 10px;
    }
    .loan-items li {
        width: 48%;
        padding: 5px 0px;
    }
    .rad-bx {
        margin: 26px 0px 0px;
        width: 25px;
    }
    .res-pad {
        padding: 0px;
    }
    .verify-tabs li a {
        font-size: 10px;
    }
    .transparent-div {
        background-color: transparent;
        height: 200px;
        width: 90%;
        z-index: 2000;
        position: absolute;
    }
}

@media only screen and (max-width:1120px) {
    .residence-tabs li {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .transparent-div {
        background-color: transparent;
        height: 200px;
        width: 90%;
        z-index: 2000;
        position: absolute;
    }
}

@media only screen and (max-width:991px) {
    .mob-nav {
        display: block;
    }
    .verify-tabs li {
        width: 25%;
        border-right: 1px solid #c9c9c9;
        padding: 10px 5px;
    }
    .verify-tabs li a {
        font-size: 9px;
    }
    .column {
        display: block;
        width: 100%;
    }
    .mobile-nav {
        display: block;
    }
    .loan-steps-container {
        display: none;
    }
    .welcomeMsg {
        margin-right: 0px;
    }
    .welcomeMsg span {
        font-size: 14px;
    }
    .progress li {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 14px;
    }
    .progress li:after {
        top: 1.5em;
        left: 50%;
    }
    .transparent-div {
        background-color: transparent;
        height: 200px;
        width: 90%;
        z-index: 2000;
        position: absolute;
    }    
}

@media only screen and (max-width:540px) {
    .progress li {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 14px;
    }
    .welcome-msg-desktop {
        display: none;
    }
    .welcome-msg-mobile {
        display: block;
    }
    .progress li:after {
        top: 1.85em;
        left: 54%;
    }
    .bank-statement {
        width:78%;
    }
    .file-upload-block {
        width: 300px;
    }
    .prefix {
        margin-top: 1.01cm;
        margin-right: -12%;
        display: block;
        float: right !important;
    }    
    .amount-label-div {        
        width: 6%;
    }

    .amount-textfield-div {
        width: 85%;
        float: left;
    }

    .review-screen-button {
        width: 158%;
        margin-top: 25px;
    }
}

.pageHeadingSpacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.navigationButtonSpacing {
    margin-top: 50px;
}

.pageSubHeading p {
    font-size: 14px;
    line-height: 25px;
    margin: 8px 0px 0px 10px;
    padding: 0px 30px 0px 30px;
    letter-spacing: 0.045em;
    color: #565656;
}

.no-pad {
    padding: 0px;
}

.res-tab-br {
    display: none;
}

.prefix {
    margin-top: 1.01cm;
    margin-right: -12%;
    display: block;
    float: right !important;
}

.amount-label-div {
    padding: 0;
    margin: 0;
    width: 4%;
    float: left;
}

.amount-textfield-div {
    width: 93%;
    float: left;
}

.mobile-label-div {
    padding: 0;
    margin: 0;
    width: 9%;
    float: left;
}

.mobile-textfield-div {
    width: 85%;
    float: left;
}

@media only screen and (max-width:767px) {
    .pageHeadingSpacing {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .navigationButtonSpacing {
        margin-top: 30px;
    }
    .ce-loan-apply-slide .slide-thumb {
        margin: 0px 9px 20px;
        width: 132px;
    }
    .prefix {
        margin-top: 1.02cm;
        margin-right: -12%;
        display: block;
        float: right !important;
    }
    .amount-label-div {        
        width: 6%;
    }

    .amount-textfield-div {
        width: 90%;
        float: left;
    }
    .reason-page-note {
        margin-left: 0%;
    } 
}

@media only screen and (max-width:600px) {
    .residence-tabs li {
        width: 33.33%;
        font-size: 10px;
    }
    .res-tab-br {
        display: block;
    }
    .prefix {
        margin-top: 1.02cm;
        margin-right: -12%;
        display: block;
        float: right !important;
    }
    .amount-label-div {        
        width: 6%;
    }

    .amount-textfield-div {
        width: 90%;
        float: left;
    }
    .mobile-label-div {     
        width: 12%;
    }

    .mobile-textfield-div {
        width: 83%;
    }     
}


/*@media only screen and (max-width:768px){
    .progress li {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 14px;
    }
}*/

@media only screen and (max-width:380px) {
    /*.progress li {
        font-size: 12px;
    }*/
    .main-head {
        padding: 15px 0px;
    }
    .rad-bx {
        width: 23px;
    }
    .verify-tabs li a {
        font-size: 8px;
    }
    .prefix {
        margin-top: 1.02cm;
        margin-right: -12%;
        display: block;
        float: right !important;
    }
    .amount-label-div {        
        width: 6%;
    }

    .amount-textfield-div {
        width: 89%;
        float: left;
    }
    .mobile-label-div {     
        width: 15%;
    }

    .mobile-textfield-div {
        width: 80%;
    }    
}

@media only screen and (max-width:380px) {
    /*.progress li {font-size: 12px;}*/
    /*.logo img {
        width: 92px;
        height: auto !important;
    }*/
    .prefix {
        margin-top: 1.02cm;
        margin-right: -12%;
        display: block;
        float: right !important;
    }
    .amount-label-div {        
        width: 6%;
    }

    .amount-textfield-div {
        width: 89%;
        float: left;
    }
    .mobile-label-div {     
        width: 15%;
    }

    .mobile-textfield-div {
        width: 80%;
    }     
}

@media only screen and (max-width:320px) {
    .welcomeMsg span {
        font-size: 12px;
    }
    /*.logo img {
        width: 80px;
    }*/
    .loan-items li h6 {
        line-height: 8px;
    }
    .main-head span {
        font-size: 11px;
    }
    .loan-box {
        width: 85%;
    }
    .main-head {
        padding: 15px 0px;
    }
    .verify-tabs li a {
        font-size: 7px;
    }
    .ce-loan-apply-slide .slide-thumb {
        margin: 0px 6px 20px;
        width: 117px;
    }
    .bank-statement {
        width:70%;
        font-size: 12px;
    }
    .prefix {
        margin-top: 1.02cm;
        margin-right: -12%;
        display: block;
        float: right !important;
    }
    .amount-label-div {        
        width: 8%;
    }

    .amount-textfield-div {
        width: 87%;
        float: left;
    }
    .mobile-label-div {     
        width: 18%;
    }

    .mobile-textfield-div {
        width: 80%;
    }     
}

::-ms-clear {
    display: none;
}

input[type=text]::-ms-clear {
    display: none;
}

.manual-label {
    /*user-select: none;
    position: absolute;    */
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    transform: scale(0.75) translate(0px, -28px);
    line-height: 0px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.298039);
    font-size: 14px;
    transform-origin: left top 0px;
    margin-top: 30px;
    margin-bottom: -18px;
}

.trash{
    display:inline-block;
    background: url(../components/Icons/assets/images/trash.png) no-repeat left center; 
    background-size:18px;
    width:18px; 
    height:18px;
    }

.bank-name-error {
    position: relative;
    /*bottom: 15px;*/
    font-size: 12px;
    line-height: 15px;
    color: rgb(255, 117, 106);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: left;
    margin-top: 6px;
}    